.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #fff;
    border-radius: 10px;
    box-sizing: border-box;
}

.inputWrapper{
    display: flex;
    align-items: center;
    position: relative;
}

.inputWrapper:nth-child(2){
    border-left: 1px solid #DBE0E7;
    border-right: 1px solid #DBE0E7;
}

.inputLabel{
    display: flex;
    align-items: center;
    height: 100%;
    color: #505A68;
    padding-left: 20px;
    width: 100%;
}

.input{
    height: 60px;
    border: none;
    outline: none;
    width: 36px;
    margin: 0 0 0 auto;
    font-size: 14px;
    color: #000;
    box-sizing: border-box;
}

.inputDate{
    width: 100px;
    width: 0;
    height: 60px;
    box-sizing: border-box;
    margin-right: 20px;
}
    
.inputDate::-webkit-calendar-picker-indicator {
    position: absolute;
    right: 20px;
    background: url('../../../assets/img/calendar.svg') right center no-repeat;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
}

.inputDate::-webkit-inner-spin-button { display: none; }

@media (max-width: 620px){
    .wrapper{
        grid-template-columns: 1fr;
    }

    .input{
        border-radius: 10px;
        height: 54px;
    }

    .inputWrapper:nth-child(2){
        border-top: 1px solid #DBE0E7;
        border-bottom: 1px solid #DBE0E7;
    }
}