.nav{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-content: center;
    height: 77px;
    border-bottom: 1px solid #fff;
    padding: 0 30px;
}

.logoImg{
    margin: 0 auto;
}