.item{
    position: relative;
    box-sizing: border-box;
    color: #fff;
    transition: .2s;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    max-height: 260px;
    transition: .2s;
}

.item:hover .img{
    transform: scale(1.06);
}

.item:hover .hiddenRows{
    max-height: 100px;
    opacity: 1;
}

.item:hover .openBut{
    opacity: 1;
}

.item:hover .overlay{
    background: rgba(0, 0, 0, .7);
}

.openBut{
    position: absolute;
    right: 14px;
    top: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    opacity: 0;
    transition: .2s;
    cursor: pointer;
    width: 51px;
    height: 28px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 25px;
    background: transparent;
}

.openBut:hover{
    background: #0C73FE;
    border: 1px solid #0C73FE;
}

.hiddenRows{
    opacity: 0;
    transition: .5s;
    max-height: 0;
    overflow: hidden;
}
    

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #0000009f 0 30%, transparent);
    transition: .2s;
}

.img{
    display: block;
    transition: .2s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    
.textContainer{
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 22px 16px 22px;
}

.title{
    font-size: 18px;
    font-weight: 600;
}

.textRow{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 7px;
}

.price{
    font-size: 14px;
    font-weight: 600;
}

.recommendations{
    font-size: 14px;
    opacity: .6;
}

.unavailable .title,
.unavailable .price,
.unavailable .recommendations{
    opacity: .4;
}

.unavailable  .overlay{
    background: rgba(0, 0, 0, .5);
}

.unavailableText{
    position: absolute;
    left: 22px;
    top: 16px;
    font-size: 16px;
    font-weight: 600;
}

/* mobile */
.mobileItem{
    display: none;
    position: relative;
    max-height: 251px;
    border-radius: 10px;
    overflow: hidden;
    color: #fff;
}

.mobileTextContainer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 22px 25px 22px;
    box-sizing: border-box;
}

.mobileTextRow{
    display: flex;
    justify-content: space-between;
}

.mobileTextCol{
    display: flex;
    flex-direction: column;
}

.mobileTitle{
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 14px;
}

.mobileSubtitle{
    font-size: 12px;
}

.mobileSubtitle2{
    font-size: 11px;
    opacity: .5;
}

.mobileOverlay{
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(0deg, #0000009f, transparent);
    width: 100%;
    height: 100%;
}

@media (max-width: 600px){
    .mobileItem{display: block;}
    .item{display: none;}
}