.modalBody{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 97%;
    max-width: 694px;
    background: #EFF1F4;
    padding: 80px;
    border-radius: 20px;
    box-sizing: border-box;
    outline: none;
}

.closeBut{
    position: absolute;
    top: 30px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    background: #E3E5E8;
    border: none;
    border-radius: 40px 0 0 40px;
    width: 126px;
    height: 37px;
    color: #727374;    
    cursor: pointer;
    transition: .2s;
}

.closeBut:hover{
    background: #0C73FE;
    color: #fff;
}

.title{
    font-size: 36px;
    font-family: 'sharp-grotesk-db-cyr-medium';
    margin: 2px 0 21px 0;
}

.description{
    font-size: 18px;
    line-height: 1.45;
    margin-bottom: 28px;
}

.sendBut{
    width: 100%;
    height: 80px;
    background: #0C73FE;
    font-size: 20px;
    border-radius: 10px;
    color: #fff;
    outline: none;
    border: none;
    margin: 0;
    cursor: pointer;
    transition: .2s;
}

.sendBut:hover{
    background: #2e86fe;
}

.sendBut:active{
    background: #015ad3;
}

.policy{
    font-size: 14px;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    color: #606062;
    margin-bottom: 0;
}

.policy a{
    color: #606062;    
}


@media (max-width: 1200px) {
    .row{
        display: block;
    }

    .img{
        display: none;
    }

    .modalBody{
        padding: 30px;
        max-width: 800px;
    }
}

@media (max-width: 600px) {
    .closeBut{
        top: 0;
        border-radius: 0 20px;
    }

    .title{
        font-size: 30px;
        margin: 15px 0;
    }

    .description{
        font-size: 15px;
        margin-bottom: 15px;
    }

    .formRow{
        flex-direction: column;
    }

    .input,
    .input2{
        font-size: 16px;
    }

    .inputLabel{
        font-size: 16px;
    }

    .inputLabel2{
        font-size: 14px;
    }
    
    .sendBut{
        height: 60px;
    }
}